@model Task_for_Back_End.Models.InvoiceHeader

@{
    ViewData["Title"] = "Edit";
    IEnumerable<InvoiceDetail> Items = ViewBag.Items;
    var counter = 0;


}

<h1>Edit</h1>

<h4>Invoice Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Branch</label>
                <select id="BranchID" asp-for="BranchID" class="form-control" asp-items="ViewBag.Branch"></select>
            </div>
            <div class="form-group">
                <label>Cashier</label>
                <select id="CashierID" asp-for="CashierID" class="form-control">
                    <option></option>
                </select>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Item Count
                        </th>
                        <th>
                            Item Price
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        counter++;
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input id="ItemName_@counter" type="text" value="@item.ItemName" name="ItemName_@counter" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="ItemCount_@counter" type="number" value="@item.ItemCount" name="ItemCount_@counter" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="ItemPrice_@counter" type="number" value="@item.ItemPrice" name="ItemPrice_@counter" class="form-control" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a asp-action="DeleteItem" asp-route-id="@item.ID">Delete Item</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <a asp-action="AddItem" asp-route-id="@Model.ID">Add Item</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var BranchID = ($('#BranchID').val());

            var cashierList = $('#CashierID');

            cashierList.empty();
            cashierList.append('<option></option>');

            if (BranchID !== '') {
                $.ajax({
                    url: '/Invoice/GetCashiers?BranchID=' + BranchID,
                    success: function (cashiers) {
                        $.each(cashiers, function (i, cashier) {
                            if(cashier.id==@Model.CashierID){
                                cashierList.append($('<option></option>').attr('value', cashier.id).attr('selected','selected').text(cashier.cashierName));
                            }
                            else{
                                cashierList.append($('<option></option>').attr('value', cashier.id).text(cashier.cashierName));
                            }
                            
                        });
                    },
                    error: function () {
                        alert('somthing went wrong');
                    }
                })

            }
            $('#BranchID').on('change', function () {
                var BranchID = ($(this).val());

                var cashierList = $('#CashierID');

                cashierList.empty();
                cashierList.append('<option></option>');

                if (BranchID !== '') {
                    $.ajax({
                        url: '/Invoice/GetCashiers?BranchID=' + BranchID,
                        success: function (cashiers) {
                            $.each(cashiers, function (i, cashier) {
                                cashierList.append($('<option></option>').attr('value', cashier.id).text(cashier.cashierName));
                            });
                        },
                        error: function () {
                            alert('somthing went wrong');
                        }
                    })

                }
            })
        })
    </script>
}
